.navbar-brand {
   text-align: center !important;
   background-color: #045256;
   width: 100%;
   height: 100px;
}

.container {
   display: flex;
   background-color: #9AB8BA;
}

.card-body {
   background-color: #DDF7F8;


